//
//
//
// This is a SCSS partial that will be compiled down to CSS, feel free to utilise any SCSS methods you wish
//
// Don't worry about prefixes, the SCSS compiler will automatically output what's needed for IE9+
//
//
//

* {
	box-sizing: border-box;
	text-size-adjust: 100%;
}

.inner {
	@include aoContainer;
}

.title {
	@extend %header-large;

	margin-top: 3rem;
	margin-bottom: 3rem;
	line-height: 1.5;
	text-align: center;
}
