<link href="css/{{ projectName }}.css" rel="stylesheet" media="all">

<main class="flexercise">
	{% for section in layout %}
		{% set data = section.data %}
		{% if section.isGlobal %}
			{% include section.templateId + "/template.njk" %}
		{% else %}
			{% include "./partials/" + section.templateId + ".njk" %}
		{% endif %}
	{% endfor %}
</main>
<!-- /.flexercise -->

<script src="scripts/{{ projectName }}.js"></script>
