{#

	This is a nunjucks partial that will be compiled down to HTML, feel free to utilise nunjucks loops and other partials

 #}

<div class="inner">
	<h1 class="title">
		Let's get flexy
	</h1>
	<!-- /.title -->

	{#

	Example markup

	<div class="row">
		<div class="item">
			Content
		</div>
		<!-- /.item -->
		<div class="item">
			Content
		</div>
		<!-- /.item -->
		<div class="item">
			Content
		</div>
		<!-- /.item -->
	</div>
	<!-- /.row -->

	#}

	{# Code here #}


</div>
<!-- /.inner -->
